%reset{
	margin: 0;
	padding: 0;
}
body,ul,li,a,input,h1,h2,h3,h4,h5,h6{
	@extend  %reset;
	font-size: 14px;
	font-family: "iconfont";
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
	color:none;
}

/*rem*/
@mixin userem($size){
	$shebei:320px,360px,375px,384px,412px,414px,600px,768px,800px,1080px,1280px,1440px,1600px;
    html{
    	@each $sb in $shebei{
    		@media screen and(min-width: $sb){
    		font-size:100px * ($sb/$size);
    	}
    	}
    	
    }
}

@include userem(1080px);

/*font*/

@font-face {font-family: "iconfont";
  src: url('../fonts/ux_1464943623_9279087/iconfont.eot?t=1464943625'); /* IE9*/
  src: url('../fonts/ux_1464943623_9279087/iconfont.eot?t=1464943625#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/ux_1464943623_9279087/iconfont.woff?t=1464943625') format('woff'), /* chrome, firefox */
  url('../fonts/ux_1464943623_9279087/iconfont.ttf?t=1464943625') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/ux_1464943623_9279087/iconfont.svg?t=1464943625#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-weixin:before { content: "\e680"; }
.icon-jiahao:before { content: "\e67e"; }
.icon-sousuo:before { content: "\e652"; }
.icon-tongxunlu:before { content: "\e621"; }
.icon-iconfaxian:before { content: "\e60f"; }
.icon-wo:before { content: "\e619"; }
.icon-paizhao:before { content: "\e622"; }
.icon-xinxi:before { content: "\e608"; }
.icon-fanhui:before { content: "\e774"; }
.icon-shixinxiaoyuandian:before { content: "\e628"; }
.icon-webxinshishihuiyitianjialianxirenicon:before { content: "\e602"; }
.icon-faqiqunliao:before { content: "\e69e"; }
.icon-saoyisao:before { content: "\e602"; }
.icon-fukuan:before { content: "\f001c"; }
.icon-message:before { content: "\e75f"; }
.icon-yaoyiyao:before { content: "\e60a"; }
.icon-667fujinderen:before { content: "\ea11"; }
.icon-pingzi:before { content: "\e60a"; }
.icon-xiangce-copy:before { content: "\e601"; }
.icon-2:before { content: "\e67b"; }
.icon-biaoqing:before { content: "\e604"; }
.icon-4:before { content: "\e610"; }
.icon-shoucang:before { content: "\e687"; }
.icon-new:before { content: "\e62d"; }
.icon-hudongyouxi:before { content: "\e756"; }
.icon-pengyouquan:before { content: "\e634"; }



body{
	font-family: "iconfont";
}

.weixin{
	width: 100%;
	height: 19.2rem;
	position: relative;
	background: #D9D9D9;
}



/*导航*/
.nav{
	/*display:none;*/
	font-family: "iconfont";
	width: 100%;
	height: 1.45rem;
	background: #393A3F;
	position: fixed;
	top: 0;
	left: 0;
	line-height: 1.45rem;
	z-index: 10000;
	.navleft{
		float: left;
		margin-left:0.45rem; 
			
		span{
			font-size: 0.6rem;
			color:white;
		}
	}
	.navright{
		float:right;
		margin-right: 0.75rem;
		div{
			float: right;
			font-size:0.6rem;
			color:white;
			margin-left: 1.3rem;
		}
		.serch{
			
		}

	}
}


/*对话列表*/
.list{
	width: 100%;
	height: 700px;
	background: #FCFCFC;
	padding-top: 1.45rem;
    box-sizing:border-box;
	.item{
		position: relative;
		width: 100%;
		height:1.91rem;
		border-bottom: 1px solid #D9D9D9;
		padding:0.23rem 0.44rem 0.23rem 0.42rem;
		box-sizing:border-box;
		a{
			display: inline-block;
			width: 100%;
			height: 100%;
		}
		.tip{
			display: none;
			color:#FF3E3E;
			position: absolute;
			top:-2.4rem;
			left: 1.56rem;
			font-size: 1rem;

		}
		.img{
			float: left;
			img{
				width: 1.45rem;
				height: 1.45rem;
			}
		}
		.xinxi{
			float: left;
			margin-left: 0.42rem;
			h5{
				font-size: 0.45rem;
				color: #363636;
			}
			h6{
				font-size: 0.25rem;
				color: #999999;
			}

		}
		.time{
			float: right;
			margin-top: 0.19rem;
			color:#BBBBBB;
			font-size: 0.25rem;
		}
		.delete{
			float:right;
			position: fixed;
			right: -0.8rem;
			top: 0.26rem;
			width: 2.0rem;
			height: 1.2rem;
			background: #ffaabb;
			z-index: -1;
		}
	}
	#ltlist{
		border:none;
	}

	.item{
		.img.me{
			float:right;
		}
		.xinxi.me{
			float: right;
			margin-right: 0.42rem;
		}
	}
	
	.item.active{
		.tip{
			display: block;
		}
	}

}

.list .donghua.showdelete{
	transform:translateX(-2rem);	
	}
	.list .donghua.showdelete{
	transition:transform 1s ease;	
	}

	.delete{
			float:right;
			position: fixed;
			right: -0.8rem;
			top: 0.26rem;
			width: 2.0rem;
			height: 1.2rem;
			background: #ffaabb;
			z-index: -1;
		}
	
/*footer*/
.footer{
	font-family: "iconfont";
	width: 100%;
	height: 1.61rem;
	background: #FCFCFC;
	border-top: 1px solid #D6D6D6;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 10000;

	.items{
		width: 25%;
		height: 100%;
		float: left;
		text-align: center;
		 color: #999999;
		 margin:0 auto;
		 position: relative;
		 a{
		 	display: inline-block;
		 	width: 100%;
		 	height: 100%;
		 }
		 .tips{
			display: none;
			color:#FF3E3E;
			position: absolute;
			top:-0.6rem;
			left: 1.4rem;
			font-size: 1.2rem;

		}
		.mintips{
			display: none;
			color:#FF3E3E;
			position: absolute;
			top:-0.4rem;
			left: 1.6rem;
			font-size: 0.8rem;

		}
		.num{
			display: none;
			color:#FFFFFF;
			position: absolute;
			top:0.03rem;
			left: 1.70rem;
			font-size: 0.2rem;
		}
		
			.icon{
		        margin:0 auto;
				font-size:0.8rem;
				line-height:0.80rem;
				width: 0.74rem;
				height: 0.63rem;
				/*margin-left: 0.7rem;*/
			}
			.bt{
				font-size:0.42rem;
				line-height: 1.18rem;
			}
			
	}
	.items.active{
		 color: #45C01A;
	}
	.items.xinxi{
         .tips,.num,.mintips{
         	display: block;
         }
	}

}


/*加号点击框*/
.tianjia{
    display: none;
	position: fixed;
	right: 0.36rem;
	top:1.45rem;
	width: 6rem;
	height: 7.19rem;
	background: #393A3F;
	box-shadow: 5px 5px 26px #676767;
	.item{
		width: 100%;
		height: 1.43rem;
		border-top: 1px solid #191B1D;
		padding:0.42rem 0 0.44rem 0.52rem;
		.icon{
		    display: inline-block;
			color:#FFFFFF;
			font-size: 0.5rem;
		}
		.name{
			display: inline-block;
			margin-left: 0.58rem;
			color:#FFFFFF;
			font-size: 0.4rem;
		}

	}
}

.tianjia.dianji{
		display: block;

}

/*发现页面*/

.faxian{
	/*display: none;*/
	position: fixed;
	top:1.45rem;
	left: 0;
	background: #EBEBEB;
	width: 100%;
	height: 16.14rem;
	.item1{
		margin-top: 0.6rem;
		.img{
			color:#5AED56;
		}
	}
	.item{
		position: relative;
		width: 100%;
		height: 1.44rem;
		background: #fff;	
        box-sizing:border-box;
		padding: 0.25rem 0.54rem 0.25rem 0.62rem;
		.img{
			display: inline-block;
			float: left;
			
			font-size: 0.8rem;
			line-height: 0.8rem;
		}
		.biaoti{
			display: inline-block;
			float: left;
			margin-left: 0.62rem;
			color:#353535;
			font-size: 0.4rem;
			line-height: 0.8rem;

		}
		.tupian{
			float: right;
			display: inline-block;
			img{
				width: 0.96rem;
				height: 0.96rem;
			}
			
		}
		 .tips{
			display: none;
			color:#FF3E3E;
			position: absolute;
			top:-0.5rem;
			right: -0.1rem;
			font-size: 1.0rem;

		}
	}
	.item2{
		border-top: 1px solid #D9D9D9;
		.img{
			color: #10AEFF;
		}
	}

	.item.active{
		.tips{
			display: block;
		}
	}
}
.faxian.xianshi{
	display: block;
}


/*个人页面*/
.my{
	/*display: none;*/
	position: fixed;
	top:1.45rem;
	left: 0;
	background: #EBEBEB;
	width: 100%;
	height: 16.14rem;
	.item1{
		height: 2.4rem;
		margin-top: 0.6rem;
        box-sizing:border-box;
		padding:0.53rem 0.25rem 0.75rem 0.25rem;
		.img2{
			float: left;
			display: inline-block;
			img{
				width: 1.92rem;
				height: 1.92rem;
			}
			
		}
		.biaoti1{
			display:inline-block;
			margin-left: 0.62rem;
			width: 4rem;
			
			line-height: 0.8rem;
		}
		.name{
			color: #353535;
			font-size: 0.4rem;
		}
		.zh{
			color:#999999;
			font-size: 0.4rem;
		}
		.tupian{
			margin-top: -0.4rem;
		}
	}
	.item{
		position: relative;
		width: 100%;
		
		background: #fff;	
		padding: 0.25rem 0.54rem 0.25rem 0.62rem;
		.img{
			display: inline-block;
			float: left;
			
			font-size: 0.8rem;
			line-height: 0.8rem;
		}
		.biaoti{
			display: inline-block;
			float: left;
			margin-left: 0.62rem;
			color:#353535;
			font-size: 0.4rem;
			line-height: 0.8rem;

		}
		.icon{
			font-size: 1rem;
			color:#FF3E3E;
			margin-left: 2.5rem;
			line-height: 0.7rem;
		}
		.tupian{
			float: right;
			display: inline-block;
			img{
				width: 0.96rem;
				height: 0.96rem;
			}
			
		}
		 .tips{
			display: none;
			color:#FF3E3E;
			position: absolute;
			top:-0.5rem;
			right: -0.1rem;
			font-size: 1.0rem;

		}
	}
	.time3{
		margin-top: 0.6rem;

	}
	.item2{
		height: 1.44rem;
		border-top: 1px solid #D9D9D9;
		.img{
			color: #10AEFF;
		}
	}

	.item.active{
		.tips{
			display: block;
		}
	}
}
.my.xianshi{
	display: block;
}

/*朋友圈*/
/*头部导航*/
.pengyou{
	display: none;
.nav2{
	font-family: "iconfont";
	width: 100%;
	height: 1.45rem;
	background: #393A3F;
	position: fixed;
	top: 0;
	left: 0;
	line-height: 1.45rem;
	z-index: 10000;
	.navleft{
		float: left;
		margin-left:0.45rem; 
		.add{
			float:left;
			font-size:0.6rem;
			color:white;
		}	
		span{
			margin-left: 0.6rem;
			font-size: 0.6rem;
			color:white;
		}
	}
	.navright{
		float:right;
		margin-right: 0.75rem;
		div{
			float: right;
			font-size:1rem;
			color:white;
			margin-left: 1.3rem;
			line-height: 1.2rem;
		}
		.serch{
			
		}

	}
}

/*main*/
.pyq{
	width: 100%;
	.beijing{
	width: 100%;
	height: 8.09rem;
	margin-top: 1.45rem;
	background: url('../images/1.jpg') no-repeat;
	background-size: cover;
	.name{
		position: absolute;
		right: 3.37rem;
		top: 6.7rem;
		color:#fff;
		font-size: 0.8rem;
	}
	.touxiang{
		width: 2.53rem;
		height: 2.53rem;
		position: absolute;
		right: 0.37rem;
		top: 6.5rem;
		background: url('../images/touxiang3.jpg');
		background-size: 2.53rem 2.53rem;
	}
}

.dongtai{
	width: 100%;
	padding-top: 1.12rem;
	background: #F8F8F8;
	.tiao{
		display: inline-block;
		width: 100%;
		padding:0.36rem 0.36rem 0.3rem 0.36rem;
		border-bottom:1px solid #D3D3D3;
		.left{
			float:left;
			width: 1.26rem;
			height: 1.26rem;
			background:url('../images/touxiang4.jpg');
		    background-size: 1.26rem 1.26rem;

		}
		.right{
			float: left;
			margin-left: 0.25rem;
			.name{
				color: #576B95;
				font-size: 0.20rem;
				padding-top:0.14rem;
				margin-bottom: 0.27rem;
			}
			.neirong{
				width: 8.5rem;

			}

			.card{
				margin-top: 0.36rem;
				margin-bottom: 0.42rem;
				padding: 0.13rem 0 0.13rem 0.13rem;

				.img{
					width: 1.26rem;
					height: 1.26rem;
					float:left;
					background:url('../images/touxiang5.jpg');
		             background-size: 1.26rem 1.26rem;
				}
				.wz{
					float: left;
					margin: 0.35rem 0.56rem 0 0.3rem;

				}
			}
		}
	}
}
}
}

.pengyou.xianshi{
	display: block;
}


/*通讯录*/

.tongxunlu{
	/*display: none;*/
	background: #fff;
	width: 100%;
	.key{
		padding-left: 0.43rem;
		margin-top: 1.45rem;
		display: block;
		width: 100%;
		height: 0.66rem;
		background: #EBEBEB;
        box-sizing:border-box;

		ul{
			background: #fff;
		}
	}
	.lianxiren{
		display: inline-block;
		width: 100%;
		padding: 0.25rem 0.1rem 0.25rem 0;
        box-sizing:border-box;
		/*margin-left: 0.43rem;
		margin-right:0.43rem;*/
		height: 1.55rem;
		background: #FFFFFF;
		border-bottom:0.1rem solid #C4C4C4;
		.img{
			float:left;
			width: 1.08rem;
			height: 1.08rem;
			background: url('../images/touxiang6.jpg') no-repeat;
			background-size: 1.08rem 1.08rem;
		}
	    .name{
	    	margin-left:0.2rem;
	    	margin-top:0.1rem;
	    	font-size: 0.20rem;
	    	color:#454545;
	    }
	}


	.nav-list{
		position: fixed;
		right: 0;
		top: 1.45rem;
		width: 0.6rem;
		padding-top:0.6rem;
		.lists{
			width: 100%;
			height: 0.6rem;
			color: #585858;
		}

	}
}
.tonxunlu.xianshi{
	display: block;
}


/*页面切换动画*/
#view.ng-leave{
	transition:all 1s ease;
	#weixin{
		transition:all 1s ease;
		opacity: 1;
		transform:translateX(0);
         
	}
}
#view.ng-leave-active{
	
	#weixin{
		opacity: 0;
		transform:translateX(-4rem);
	}
}

#view.ng-enter{
	transition:all 1s ease;
	#weixin{
		transition:all 1s ease;
		transform:translateX(-4rem);
		opacity: 0;

	}
}
#view.ng-enter-active{
	
	#weixin{
		opacity: 1;
		transform:translateX(0);
	}
}