<div class="faxian" id="faxian" ng-controller="index3Ctrl">
	<div class="item item1 active">
		<div class="img icon-pengyouquan">
			
		</div>
		<div class="biaoti">朋友圈</div>
		<div class="tupian">
			<img src="./images/tupian.jpg" alt="">
		</div>
		<div class="tips icon-shixinxiaoyuandian"></div>
	</div>
   
	<div class="item item1 item2">
		<div class="img icon-saoyisao">
			
		</div>
		<div class="biaoti">扫一扫</div>
		
	</div>
	<div class="item item2 active">
		<div class="img icon-yaoyiyao">
			
		</div>
		<div class="biaoti">摇一摇</div>
		
	</div>
	<div class="item item1 item2">
		<div class="img icon-667fujinderen">
			
		</div>
		<div class="biaoti">附近的人</div>
		
	</div>
	<div class="item item2 active">
		<div class="img icon-pingzi">
			
		</div>
		<div class="biaoti">漂流瓶</div>
		
	</div>

	<div class="item item1 item2">
		<div class="img icon-2">
			
		</div>
		<div class="biaoti">购物</div>
		
	</div>
	<div class="item item2 active">
		<div class="img icon-hudongyouxi">
			
		</div>
		<div class="biaoti">游戏</div>
		
	</div>
</div>