<div class="my" id="my" ng-controller="index4Ctrl">
	<div class="item item1 active">
		<div class="img2">
		<img src="./images/touxiang2.jpg" alt="">
			
		</div>
		<h5 class="biaoti1 name">赵欣</h5>
		<h6 class="biaoti1 zh">微信号：ZX11264828</h6>
		<div class="tupian">
			<img src="./images/erweima.jpg" alt="">
		</div>
	</div>
   
	<div class="item item1 item2">
		<div class="img icon-xiangce-copy">
			
		</div>
		<div class="biaoti">相册</div>
		
	</div>
	<div class="item item2 active">
		<div class="img icon-shoucang">
			
		</div>
		<div class="biaoti">收藏</div>
		
	</div>
	<div class="item item1 item2">
		<div class="img icon-2">
			
		</div>
		<div class="biaoti">钱包</div>
		
	</div>
	<div class="item item2 active">
		<div class="img icon-2">
			
		</div>
		<div class="biaoti">卡券</div>
		
	</div>

	<div class="item item1 item2">
		<div class="img icon-biaoqing">
			
		</div>
		<div class="biaoti">表情</div>
		
	</div>
	<div class="item item2">
		<div class="img icon-4">
			
		</div>
		<div class="biaoti">设置</div>
		<div class="icon icon-new"></div>
		
	</div>
</div>