<div class="footer">
  <div class="items active xinxi">
      <a href="#weixin">
    <div class="icon icon-weixin"></div>
      <span class="bt">微信</span>
      <div class="tips icon-shixinxiaoyuandian"></div>
        <span class="num">3</span>
        </a>
  </div>
  <div class="items">
   <a href="#tongxunlu">
    <div class="icon icon-tongxunlu"></div>
    <span class="bt">通讯录</span>
    <div class="mintips icon-shixinxiaoyuandian"></div>
     </a>
  </div>
  <div class="items xinxi">
 <a href="#faxian">
    <div class="icon icon-iconfaxian"></div>
    <span class="bt">发现</span>
    <div class="mintips icon-shixinxiaoyuandian"></div>
      </a>
  </div>
  <div class="items">
  <a href="#my">
    <div class="icon icon-wo"></div>
    <span class="bt">我</span>
    <div class="mintips icon-shixinxiaoyuandian"></div>
      </a>
  </div>

</div>